* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body .container,
html .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #d3d3d3;
  padding: 50px;
}
a {
  padding: 10px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
article {
  padding: 15px 20px 30px;
  text-indent: 15px;
  width: 70%;
  min-height: 100%;
  background: #fff;
  position: relative;
}
.sidebar {
  border-right: 2px solid #ff0;
  width: 20%;
  padding-right: 5px;
  margin-right: 10px;
}
.nuvig {
  width: 100%;
  text-align: center;
  padding: 10px;
  text-indent: 0px;
}
.num {
  padding: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
}
